body > .container-fluid {
  padding-top: 70px;
}

h2, h4 {
  border-top:1px dotted #ccc;
  padding-top:10px;
}

h5 {
  color:#555;
}
.copy {
  position:absolute;
  top:-1000px;
  left:-1000px;
  height:0;
  width:0;
}

.result {
  background:#efe;
}

.different {
  background:#ffd;
}
.error {
  background:#fdd;
}

.pager {
  border-top:1px solid #aaa;
  padding-top:30px;
}

.partials {
  width:100%;
  background:#eff;
  tr:nth-child(odd) {
    background:#eef;
  }
  td, th {
    padding:3px 5px;
  }
  th {
    text-align:right;
    width:25%;
  }
  td {
    background:rgba(255,255,255,0.5);
    white-space: pre;
    word-break: break-all;
    word-wrap: break-word;
  }
}
@media (max-width: 768px) {
  .navbar-fixed-top {position:relative}
  body > .container-fluid {padding-top: 0px;}
}
